# Panda

## I- Création, Lecture et Ecriture

La Lecture de données est nécessaire pour travailler avec.
Il y a deux choses très importantes en panda:
- le DataFrame
- les Series

In [1]:
import pandas as pd

### 1_1- Creating DataFrame

In [2]:
pd.DataFrame({'Yes':[50, 21], 'No':[131, 2]})

   Yes   No
0   50  131
1   21    2

In [3]:
pd.DataFrame({'Bob':['I like it.', 'Il was awful.'], 'Sue':['Pretty good.', 'Bland.']})

             Bob           Sue
0     I like it.  Pretty good.
1  Il was awful.        Bland.

- Pour personnaliser les indexes

In [4]:
pd.DataFrame({'Bob':['I like it.', 'Il was awful.'], 'Sue':['Pretty good.', 'Bland.']}, index = ['Product A', 'Product B'])

                     Bob           Sue
Product A     I like it.  Pretty good.
Product B  Il was awful.        Bland.

### 1_2- Creating Series

In [5]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

- Il designe une seule colonne du DataFrame

In [6]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

### 2- Reading DataFrame

In [7]:
myDataFrame = pd.read_csv(r"C:\Users\Oussou\Documents\Rachid Ousmane\cours auto\ODC_AI\Veille3\wine.csv")
myDataFrame

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65494,65494,France,Made from young vines from the Vaulorent porti...,Fourchaume Premier Cru,90,45.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,William Fèvre 2005 Fourchaume Premier Cru (Ch...,Chardonnay,William Fèvre
65495,65495,Australia,"This is a big, fat, almost sweet-tasting Caber...",NaN,90,22.0,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Tapestry 2005 Cabernet Sauvignon (McLaren Vale),Cabernet Sauvignon,Tapestry
65496,65496,US,"Much improved over the unripe 2005, Fritz's 20...",Estate,90,20.0,California,Dry Creek Valley,Sonoma,NaN,NaN,Fritz 2006 Estate Sauvignon Blanc (Dry Creek V...,Sauvignon Blanc,Fritz
65497,65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

In [8]:
myDataFrame.shape

(65499, 14)

In [9]:
#Visualiser les 5 premières lignes du DataFrame
myDataFrame.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

La fonction pd.read_csv() est bien dotée, elle comprend plus de 30 paramètre optionnel qu'on pourrait spécifier

In [10]:
myDataFrame = pd.read_csv(r"C:\Users\Oussou\Documents\Rachid Ousmane\cours auto\ODC_AI\Veille3\wine.csv"
                         , index_col=0)
myDataFrame.head()
#La colonne "unnamed" crée au prealable par panda n'est plus affichée

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

## II- Indexing, Selecting and Assigning

### 2_1- Selecting
La sélection de valeurs spécifiques d'un pandas DataFrame ou d'une série sur laquelle travailler est une étape implicite dans presque toutes les opérations de données que vous exécuterez, donc l'une des premières choses que vous devez apprendre en travaillant avec des données en Python est de savoir comment sélectionner les données points pertinents pour vous rapidement et efficacement.

In [11]:
import pandas as pd
reviews =pd.read_csv(r"C:\Users\Oussou\Documents\Rachid Ousmane\cours auto\ODC_AI\Veille3\wine.csv"
, index_col=0)
pd.set_option('display.max_rows', 5)

Si max_rows est dépassé, passez en vue tronquée. En fonction de large_repr, les objets sont soit tronqués de manière centralisée, soit imprimés sous forme de vue récapitulative. La valeur "Aucun" signifie illimité.

Dans le cas où python/IPython s'exécute dans un terminal et que large_repr est égal à 'truncate', cela peut être défini sur 0 et pandas détectera automatiquement la hauteur du terminal et imprimera un objet tronqué qui correspond à la hauteur de l'écran. Le bloc-notes IPython, IPython qtconsole ou IDLE ne s'exécutent pas dans un terminal et il n'est donc pas possible d'effectuer une détection automatique correcte.

In [12]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

- 1ère Façon d'accéder à une proprieté

In [13]:
# Accès à une proprieté (colonne) d'un DF
reviews.country

0           Italy
1        Portugal
           ...
65497          US
65498       Spain
Name: country, Length: 65499, dtype: object

- 2ème Façon d'accéder à une proprieté

In [14]:
#Tout comme avec les dictionnaire, on peut accéder à la proprieté d'un DF en utilisant l'indexation []
reviews['country']

0           Italy
1        Portugal
           ...
65497          US
65498       Spain
Name: country, Length: 65499, dtype: object

Aucun des 2 façon d'accès à une proprieté d'un Df n'est plus ou moins syntaxiquement valide que l'autre, mais l'opérateur d'indexation [] a l'avantage de pouvoir gérer les noms de colonnes contenant des caractères réservés tels que "l'espace", ...

In [15]:
reviews['country'][0]

'Italy'

### 2_2- Indexing in pandas

Les plus utilisés surtout dans les operations avancées
- iloc (sélection basée sur l'index : sélection des données en fonction de leur position numérique dans les données)
- loc

#### 2_2_1- Index-Based Selection (iloc)

In [16]:
# affichage des caracteristiques de toute la première ligne (ou enregistrement)
reviews.iloc[0]

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

In [17]:
# affichage des enregistrement avec leurs 1ers caracteristiques (ou propriété)
reviews.iloc[:, 0]

0           Italy
1        Portugal
           ...
65497          US
65498       Spain
Name: country, Length: 65499, dtype: object

In [18]:
# Selection de la 1ère, 2ème et 3ème ligne de la 1ère colonne
reviews.iloc[:3, 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [19]:
# 2ème et 3ème enregistrement
reviews.iloc[1:3, 0]

1    Portugal
2          US
Name: country, dtype: object

In [20]:
# Une liste peut également être passé dans le []
reviews.iloc[[0, 1, 60, 777], 0]

0         Italy
1      Portugal
60           US
777       Italy
Name: country, dtype: object

In [21]:
# Utilisation de nombres négatifs pour la selection
reviews.iloc[-5:]
#C'est tout comme avec les listes en python

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
65494,France,Made from young vines from the Vaulorent porti...,Fourchaume Premier Cru,90,45.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,William Fèvre 2005 Fourchaume Premier Cru (Ch...,Chardonnay,William Fèvre
65495,Australia,"This is a big, fat, almost sweet-tasting Caber...",NaN,90,22.0,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Tapestry 2005 Cabernet Sauvignon (McLaren Vale),Cabernet Sauvignon,Tapestry
65496,US,"Much improved over the unripe 2005, Fritz's 20...",Estate,90,20.0,California,Dry Creek Valley,Sonoma,NaN,NaN,Fritz 2006 Estate Sauvignon Blanc (Dry Creek V...,Sauvignon Blanc,Fritz
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

#### 2_2_2- Label-Based Selection (loc)
c'est la valeur de l'index de données (donc pas l'indice elle même), pas sa position, qui compte. il est conceptuellement plus simple que iloc. Il traite le Dataset comme un gros matrice (une liste de liste)

In [22]:
reviews.loc[0, 'country']

'Italy'

In [23]:
reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

             taster_name taster_twitter_handle  points
0          Kerin O’Keefe          @kerinokeefe      87
1             Roger Voss            @vossroger      87
...                  ...                   ...     ...
65497                NaN                   NaN      90
65498  Michael Schachner           @wineschach      90

[65499 rows x 3 columns]

### loc Vs iloc
Ceci est particulièrement déroutant lorsque l'index DataFrame est une simple liste numérique, par ex. 0,...,1000. Dans ce cas, df.iloc[0:1000] renverra 1000 entrées, tandis que df.loc[0:1000] en renverra 1001 ! Pour obtenir 1000 éléments en utilisant loc, vous devrez descendre un plus bas et demander df.loc[0:999]

### Manipulation des indexes
loc derive sa puissance de iloc.
- Les indices que nous manipulons sont immuables, mais la methode set_index() peut faire le boulot

In [24]:
# utiliser la colonne "title" comme indexe au lieu des chiffres (0, 1, 2, ..)
reviews.set_index("title")

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,variety,winery
title,,,,,,,,,,,,
Nicosia 2013 Vulkà Bianco (Etna),Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,White Blend,Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro),Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...
Hendry 2004 Block 24 Primitivo (Napa Valley),US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Primitivo,Hendry
Bodegas Dios Baco S.L. NV Manzanilla Sherry (Jerez),Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Sherry,Bodegas Dios Baco S.L.

#### - Conditional Selection

In [25]:
reviews.country == 'Italy'

0         True
1        False
         ...
65497    False
65498    False
Name: country, Length: 65499, dtype: bool

In [26]:
# Affichage desenregistrement ayant pour ville "Italy"
reviews.loc[reviews.country == 'Italy']

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65477,Italy,"Made of 65% Merlot, 25% Cabernet Sauvignon, 5%...",Ruit Hora,88,30.0,Tuscany,Bolgheri,NaN,Kerin O’Keefe,@kerinokeefe,Caccia al Piano 1868 2013 Ruit Hora (Bolgheri),Red Blend,Caccia al Piano 1868
65478,Italy,"Aromas suggesting French oak, coconut and spic...",NaN,88,36.0,Tuscany,Vino Nobile di Montepulciano,NaN,Kerin O’Keefe,@kerinokeefe,Il Macchione 2012 Vino Nobile di Montepulciano,Sangiovese,Il Macchione

In [27]:
# Affichage des vins d'Italy accumulant au moins 90 points
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
120,Italy,"Slightly backward, particularly given the vint...",Bricco Rocche Prapó,92,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Prapó (Barolo),Nebbiolo,Ceretto
130,Italy,"At the first it was quite muted and subdued, b...",Bricco Rocche Brunate,91,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Brunate (Barolo),Nebbiolo,Ceretto
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65365,Italy,"Stunning and sophisticated, it leads with inte...",Sanct Valentin,94,40.0,Northeastern Italy,Alto Adige,NaN,Kerin O’Keefe,@kerinokeefe,Cantina Produttori San Michele Appiano 2012 Sa...,Sauvignon,Cantina Produttori San Michele Appiano
65399,Italy,Aesthetics and elegance are important values t...,Nectar Dei,91,65.0,Tuscany,Maremma,NaN,NaN,NaN,Fattoria Nittardi 2006 Nectar Dei (Maremma),Red Blend,Fattoria Nittardi

In [28]:
# vin fabriqué en Italie ou classé au-dessus de la moyenne
reviews.loc[(reviews.country == 'Italy') | (reviews.points >= 90)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

Deux (2) Selecteurs conditionels intégrés dans pandas:
- isin
- isnull et son compagnon "notnull"

In [29]:
reviews.loc[reviews.country.isin(['Italy', 'France'])]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65492,France,"A rounded, fruity wine, packed with yellow pea...",Mont-de-Milieu Premier Cru,90,30.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,Simonnet-Febvre 2005 Mont-de-Milieu Premier Cr...,Chardonnay,Simonnet-Febvre
65494,France,Made from young vines from the Vaulorent porti...,Fourchaume Premier Cru,90,45.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,William Fèvre 2005 Fourchaume Premier Cru (Ch...,Chardonnay,William Fèvre

In [30]:
reviews.loc[reviews.price.notnull()]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

### 2_3-Assigning Data

Dans l'autre sens, l'attribution de données à un DataFrame est facile. Vous pouvez affecter soit une valeur constante :

In [31]:
reviews['critic'] = 'everyone'
reviews['critic']

0        everyone
1        everyone
           ...
65497    everyone
65498    everyone
Name: critic, Length: 65499, dtype: object

In [32]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry,everyone
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.,everyone

On peut egalement affecter une valeur iterative

In [33]:
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

0        65499
1        65498
         ...
65497        2
65498        1
Name: index_backwards, Length: 65499, dtype: int64

## III-Summary Functions and Maps

In [34]:
import pandas as pd
pd.set_option('display.max_rows', 5)
import numpy as np
reviews = pd.read_csv(r"C:\Users\Oussou\Documents\Rachid Ousmane\cours auto\ODC_AI\Veille3\wine.csv", index_col=0)

In [35]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

### 3_1-Summary fonction

In [36]:
reviews.points.describe()

count    65499.000000
mean        88.434037
             ...
75%         91.000000
max        100.000000
Name: points, Length: 8, dtype: float64

In [37]:
reviews.taster_name.describe()

count          51856
unique            19
top       Roger Voss
freq           13045
Name: taster_name, dtype: object

In [38]:
# Pour spécifier une statistique particulière
reviews.points.mean()

88.43403716087269

In [39]:
# Pour afficher une liste de valeurs uniques
reviews.taster_name.unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [40]:
#Pour voir une liste de valeurs uniques et leur fréquence d'apparition dans l'ensemble de données, nous pouvons utiliser value_counts()
reviews.taster_name.value_counts()

Roger Voss           13045
Michael Schachner     7752
                     ...
Fiona Adams             11
Christina Pickard        4
Name: taster_name, Length: 19, dtype: int64

### 3_2-Maps
Il existe deux méthodes de mappage que vous utiliserez souvent.
- map()
- apply()

In [41]:
review_points_mean = reviews.points.mean()
reviews.points.map(lambda p: p - review_points_mean)

0       -1.434037
1       -1.434037
           ...
65497    1.565963
65498    1.565963
Name: points, Length: 65499, dtype: float64

In [42]:
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

reviews.apply(remean_points, axis='columns')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,-1.434037,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,-1.434037,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,1.565963,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,1.565963,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

La différence entre map et apply est que map travaille sur une liste (ligne ou colonne)  alors que apply travaille element par element( exemple: colonne par colonne) dans un dataframe

In [43]:
#Rien n'a changé sur la 1ère ligne
reviews.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

In [44]:
review_points_mean = reviews.points.mean()
reviews.points - review_points_mean

0       -1.434037
1       -1.434037
           ...
65497    1.565963
65498    1.565963
Name: points, Length: 65499, dtype: float64

In [45]:
#Combiner les info sur les pays et les regions (+)
reviews.country + " - " + reviews.region_1

0            Italy - Etna
1                     NaN
               ...
65497    US - Napa Valley
65498       Spain - Jerez
Length: 65499, dtype: object

In [46]:
"""What is the difference between map and apply?"""

import pandas as pd


df = pd.DataFrame([(1, 2, 3), (5, 6, 7), (9, 0, 1), (3, 4, 5)],
                  columns=list('abc'),
                  index=['India', 'France', 'England', 'Germany'])
df['b'] = df['a']
df['c'] = df['a']
print(df)
# Is there a difference between .map and .apply?
df['b'] = df['b'].map(lambda x: x**2)
print(df)

df['c'] = df['c'].apply(lambda x: x**2)
print(df)

         a  b  c
India    1  1  1
France   5  5  5
England  9  9  9
Germany  3  3  3
         a   b  c
India    1   1  1
France   5  25  5
England  9  81  9
Germany  3   9  3
         a   b   c
India    1   1   1
France   5  25  25
England  9  81  81
Germany  3   9   9

## IV-Grouping and Sorting

In [47]:
import pandas as pd
reviews = pd.read_csv(r"C:\Users\Oussou\Documents\Rachid Ousmane\cours auto\ODC_AI\Veille3\wine.csv", index_col=0)
pd.set_option('display.max_rows', 5)

In [48]:
reviews.groupby('points').points.count()

points
80     155
81     305
      ...
99      15
100      8
Name: points, Length: 21, dtype: int64

In [49]:
reviews.groupby('points').price.min()

points
80       5.0
81       5.0
       ...
99      75.0
100    150.0
Name: price, Length: 21, dtype: float64

In [50]:
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                          1+1=3 NV Rosé Sparkling (Cava)
10 Knots                 10 Knots 2010 Viognier (Paso Robles)
                                  ...
àMaurice    àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                         Štoka 2009 Izbrani Teran (Kras)
Length: 13549, dtype: object

In [51]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
...                               ...
Uruguay   San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If you love massive Argentine reds with purity...
          Other             This single-vineyard Malbec blend from vineyar...
...                                                                       ...
Uruguay   San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                                                  designation  \
country   province
Argentina Mendoza Province  Finca Pedregal Single Vineyard Barrancas Maipú...
          Other                                                  Chañar Punco
...                                                                       ...
Uruguay   San Jose                                   El Preciado Gran Reserva
          Uruguay                                   Blend 002 Limited Edition

                            points  price          province          region_1  \
country   province
Argentina Mendoza Province      95   74.0  Mendoza Province           Mendoza
          Other                 94   68.0             Other  Calchaquí Valley
...                            ...    ...               ...               ...
Uruguay   San Jose              87   50.0          San Jose               NaN
          Uruguay               91   22.0           Uruguay               NaN

                           region_2        taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province      NaN  Michael Schachner           @wineschach
          Other                 NaN  Michael Schachner           @wineschach
...                             ...                ...                   ...
Uruguay   San Jose              NaN  Michael Schachner           @wineschach
          Uruguay               NaN  Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Pascual Toso 2014 Finca Pedregal Single Vineya...
          Other             El Esteco 2013 Chañar Punco Red (Calchaquí Val...
...                                                                       ...
Uruguay   San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                              variety          winery
country   province
Argentina Mendoza Province  Cabernet Sauvignon-Malbec    Pascual Toso
          Other                             Red Blend       El Esteco
...                                               ...             ...
Uruguay   San Jose                          Red Blend  Castillo Viejo
          Uruguay               Tannat-Cabernet Franc         Narbona

[385 rows x 13 columns]

In [52]:
reviews.groupby(['country']).price.agg([len, min, max])

            len   min    max
country
Argentina  1907   4.0  230.0
Armenia       1  14.0   14.0
...         ...   ...    ...
Ukraine       5   6.0   10.0
Uruguay      61  10.0  120.0

[41 rows x 3 columns]

In [53]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  1635
          Other              272
...                          ...
Uruguay   San Jose             3
          Uruguay              7

[385 rows x 1 columns]

In [54]:
mi = countries_reviewed.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [55]:
countries_reviewed.reset_index()

       country          province   len
0    Argentina  Mendoza Province  1635
1    Argentina             Other   272
..         ...               ...   ...
383    Uruguay          San Jose     3
384    Uruguay           Uruguay     7

[385 rows x 3 columns]

### Sorting

In [56]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

      country           province    len
93    Croatia  Hrvatsko Primorje      1
291  Slovenia               Kras      1
..        ...                ...    ...
375        US         Washington   4308
353        US         California  18122

[385 rows x 3 columns]

In [57]:
countries_reviewed.sort_values(by='len', ascending=False)

          country     province    len
353            US   California  18122
375            US   Washington   4308
..            ...          ...    ...
329  South Africa  Vlootenburg      1
139        Greece       Beotia      1

[385 rows x 3 columns]

In [58]:
countries_reviewed.sort_index()

       country          province   len
0    Argentina  Mendoza Province  1635
1    Argentina             Other   272
..         ...               ...   ...
383    Uruguay          San Jose     3
384    Uruguay           Uruguay     7

[385 rows x 3 columns]

In [59]:
countries_reviewed.sort_values(by=['country', 'len'])

       country          province   len
1    Argentina             Other   272
0    Argentina  Mendoza Province  1635
..         ...               ...   ...
381    Uruguay        Montevideo    10
379    Uruguay         Canelones    24

[385 rows x 3 columns]