# NumPy Illustrated: The Visual Guide to NumPy

### Pourquoi Numpy au lieu des Listes en python?
L'exemple le plus simple lorsque les tableaux NumPy battent des listes est arithmétique :
- plus compact, surtout lorsqu'il y a plus d'une dimension
- plus rapide que les listes lorsque l'opération peut être vectorisée
- plus lent que les listes lorsque vous ajoutez des éléments à la fin
- habituellement homogène : ne peut travailler rapidement qu'avec des éléments d'un seul type

Quelques significations:
- O(N)  --> see Big-O Cheat Sheet And (proportional to the size of the array)
- O*(1) --> the so-called “amortized” O(1) (le temps d'execution ne dépend généralement pas de la taille du tableau)

## 1-Numpy Array vs. Python List

### 1_1-With python List

In [2]:
# Mutiplication d'une liste python par 2 
a = [1, 2, 3]
print("Avec la list en python")
[q*2 for q in a]

Avec la list en python

[2, 4, 6]

In [3]:
# Somme de 2 tableaux avec les list Python
a = [1, 2, 3]
b = [4, 5, 6]
[q+r for q,r in zip(a, b)]

[5, 7, 9]

### 1_2-With Numpy library

In [8]:
# Mutiplication d'un tableau (numpy) par 2 
import numpy as np
a = np.array([1, 2, 3])
print("Avec la Biblio Numpy")
a*2

Avec la Biblio Numpy

array([2, 4, 6])

In [9]:
# Somme de 2 tableaux avec Numpy
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
a + b

array([5, 7, 9])

## 2. Vectors, the 1D Arrays

## 2_1-Vector initialization

In [10]:
a = np.array([1., 2., 3.])

In [11]:
#Afficher le type du tableau
a.dtype

dtype('float64')

In [12]:
#Afficher la dimension du tableau
a.shape

(3,)

In [13]:
# préallouer l'espace nécessaire pour un tableau
b = np.zeros(3, int)
print("L'array suivant est de type : ", b.dtype)
b

L'array suivant est de type :  int32

array([0, 0, 0])

Il est souvent nécessaire de créer un tableau vide qui correspond à celui existant par forme et type d'éléments

In [14]:
c = np.zeros_like(a)
print("L'array suivant crée en fonction de a est de type:", c.dtype )
print("Et de taille-->", c.shape)
c

L'array suivant crée en fonction de a est de type: float64
Et de taille--> (3,)

array([0., 0., 0.])

#### En fait, toutes les fonctions qui créent un tableau rempli d'une valeur constante ont une contrepartie _like

In [15]:
print("np.zeros(3) --> ",np.zeros(3))
print("np.ones(3) --> ", np.ones(3))
print("np.empty(3) --> ", np.empty(3))
print("np.full(3, 7.) --> ", np.full(3, 7.))

a = np.array([1, 2, 3])
print("np.zeros_like(a) --> ", np.zeros_like(a))
print("np.ones_like(a) --> ", np.ones_like(a))
print("np.empty_like(a) --> ", np.empty_like(a))
print("np.full_like(a, 7) --> ", np.full_like(a, 7))

np.zeros(3) -->  [0. 0. 0.]
np.ones(3) -->  [1. 1. 1.]
np.empty(3) -->  [1. 1. 1.]
np.full(3, 7.) -->  [7. 7. 7.]
np.zeros_like(a) -->  [0 0 0]
np.ones_like(a) -->  [1 1 1]
np.empty_like(a) -->  [1 1 1]
np.full_like(a, 7) -->  [7 7 7]

#### Remarque (Question): En 1ère execution de np.empty(a), ce dernier ne contiendra pas directement les valeurs  a après une exection de a qui date d'une certaine durée, à moins qu'on l'execute un nbre de fois >= 2

#### Il y a jusqu'à deux fonctions pour l'initialisation du tableau avec une séquence monotone dans NumPy

In [16]:
print("np.arange(6) --> ", np.arange(6))
print("np.arange(2, 6) --> ", np.arange(2, 6))
print("np.arange(1, 6, 2) --> ", np.arange(1, 6, 2))
#n'est pas particulièrement bon pour manipuler les floats, on utilise généralement linspace()
print("np.linspace(0, 0.5, 6) --> ", np.linspace(0, 0.5, 6))
# np.linspace(start, stop, numbre d'item)

np.arange(6) -->  [0 1 2 3 4 5]
np.arange(2, 6) -->  [2 3 4 5]
np.arange(1, 6, 2) -->  [1 3 5]
np.linspace(0, 0.5, 6) -->  [0.  0.1 0.2 0.3 0.4 0.5]

In [17]:
# np.arange(start, stop, numbre d'item)
print("np.arange(0.4, 0.8, 0.1) --> ", np.arange(0.4, 0.8, 0.1))

np.arange(0.4, 0.8, 0.1) -->  [0.4 0.5 0.6 0.7]

In [18]:
# Le methodes du module random
import random
print("np.random.randint(0, 10, 3) --> ", np.random.randint(0, 10, 3))
print("np.random.rand(3) --> ", np.random.rand(3))
print("np.random.uniform(1, 10, 3) --> ", np.random.uniform(0, 10, 3))
print("np.random.randn(3) --> ", np.random.randn(0, 10, 3))
print("np.random.normal(5, 2, 3) --> ", np.random.normal(5, 2, 3))

np.random.randint(0, 10, 3) -->  [8 8 5]
np.random.rand(3) -->  [0.37641644 0.00912969 0.80925469]
np.random.uniform(1, 10, 3) -->  [5.18469038 4.23589738 4.20084035]
np.random.randn(3) -->  []
np.random.normal(5, 2, 3) -->  [4.24025241 4.19121002 3.15768402]

#### Une nouvelle interface pour la génération de tableaux aléatoires

In [27]:
rng = np.random.default_rng()

print("rng.integers(0, 10, 3) --> ", rng.integers(0, 10, 3))
print("rng.integers(0, 10, 3, endpoint = True) --> ", rng.integers(0, 10, 3, endpoint = True))
print("rng.random(3) --> ", rng.integers(3))
print("rng.uniform(1, 10, 3) --> ", rng.uniform(1, 10, 3))
print("rng.standard_normal(3) --> ", rng.standard_normal(3))
print("rng.normal(5, 2, 3) --> ", rng.uniform(1, 10, 3))

rng.integers(0, 10, 3) -->  [2 1 1]
rng.integers(0, 10, 3, endpoint = True) -->  [9 0 7]
rng.random(3) -->  0
rng.uniform(1, 10, 3) -->  [7.05126648 1.76474022 7.57237877]
rng.standard_normal(3) -->  [ 0.6070718  -0.36095592  0.9240767 ]
rng.normal(5, 2, 3) -->  [5.25306198 8.49006097 3.83252495]

## 2_2- Vector indexing

In [39]:
a = np.arange(1, 6)
print("a[1] -->", a[1])
print("a[2:4] -->", a[2:4])
print("a[-2:] -->", a[-2:])
print("a[::2] -->", a[::2])
print("a[[1, 3, 4]] -->", a[[1, 3, 4]], "(indexation sophistiquée)")

a[1] --> 2
a[2:4] --> [3 4]
a[-2:] --> [4 5]
a[::2] --> [1 3 5]
a[[1, 3, 4]] --> [2 4 5] (indexation sophistiquée)

### Copie avec les listes python

In [54]:
a = [1, 2, 3]
b = a
c = a[:]
d = a.copy()

In [55]:
print("b -->", b)
print("c -->", c)
print("d -->", d)

b --> [1, 2, 3]
c --> [1, 2, 3]
d --> [1, 2, 3]

In [56]:
del a

In [57]:
print("b -->", b)
print("c -->", c)
print("d -->", d)

b --> [1, 2, 3]
c --> [1, 2, 3]
d --> [1, 2, 3]

### Copie avec le librairie numpy

In [62]:
a = np.array([1, 2, 3])
b = a
c = a[:]
d = a.copy()

In [63]:
print("b -->", b)
print("c -->", c)
print("d -->", d)

b --> [1 2 3]
c --> [1 2 3]
d --> [1 2 3]

#### Le code suivant marche pas avec les listes en python mais ne marche pas avec numpy

In [66]:
# Avec List()
a = [1, 2, 3]
a[1:2] = [4, 5] #Inserer 4 et 5 a l'indice 1 de a
a

[1, 4, 5, 3]

In [68]:
# Essayons avec array
a = np.array([1, 2, 3])
a[1:2] = [4, 5] #Inserer 4 et 5 a l'indice 1 de a
a

ValueError: could not broadcast input array from shape (2,) into shape (1,)

Apres execution on se rend tout de suite compte que ça ne marche pas avec l'array de numpy, donc pour se faire, on pourra utiliser la methode .insert et .append

### Une autre manière d'acceder à un tableau array est l'indexation booleene

In [101]:
a = np.array([1, 2, 3, 4, 5, 6, 7, 6, 5, 4, 3, 2, 1])
print("np.any(a>5) --> ", np.any(a>5))
print("np.all(a>5) --> ", np.all(a>5))
print("a[a>5] --> ", a[a>5]) # Retourne les valeurs en question elle même

np.any(a>5) -->  True
np.all(a>5) -->  False
a[a>5] -->  [6 7 6]

In [75]:
a[a>5] = 0 # Remplace les valeurs de a superieures à 5 par 0
a

array([1, 2, 3, 4, 5, 0, 0, 0, 5, 4, 3, 2, 1])

In [84]:
a = np.array([1, 2, 3, 4, 5, 6, 7, 6, 5, 4, 3, 2, 1])
a[(a>=3) & (a<=5)] = 0
# Mais attention la comparaison ternaire comme 3<a<=8 ne marche pas ici
a

array([1, 2, 0, 0, 0, 6, 7, 6, 0, 0, 0, 2, 1])

 ### Utilisation des methodes n.where et .np.clip

In [100]:
a = np.array([1, 2, 3, 4, 5, 0, 0, 0, 6, 7, 6, 5, 4, 3, 2, 1])
print("np.where(a>5) -->", np.where(a>5))
print("np.nonzero(a>5) -->", np.nonzero(a>5))
# Ces 2 methodes retournent les indices
# Mais quelle différence entre les deux ????

np.where(a>5) --> (array([ 8,  9, 10], dtype=int64),)
np.nonzero(a>5) --> (array([ 8,  9, 10], dtype=int64),)

#### np.where()

In [105]:
a = np.array([1, 2, 3, 4, 5, 6, 7, 6, 5, 4, 3, 2, 1])
a[a<5] = 0
a[a>=5] = 1
print(a)

[0 0 0 0 1 1 1 1 1 0 0 0 0]

In [110]:
# ce code est le même que celui au dessus
a = np.array([1, 2, 3, 4, 5, 6, 7, 6, 5, 4, 3, 2, 1])
print("np.where(a>=5, 1, 0) -->", np.where(a>=5, 1, 0))

np.where(a>=5, 1, 0) --> [0 0 0 0 1 1 1 1 1 0 0 0 0]

np.where retourne un tuple

#### NB: np.where(condition, valeur_à_affectée_pour_ceux_qui_vérifie_la_condition, valeur_à_affectée_pour_ceux_qui_ne_vérifie_pas_la_condition)

#### np.clip()

In [111]:
a = np.array([1, 2, 3, 4, 5, 6, 7, 6, 5, 4, 3, 2, 1])
a[a<2] = 2
a[a>5] = 5
print(a)

[2 2 3 4 5 5 5 5 5 4 3 2 2]

In [115]:
# ce code est le même que celui au dessus
a = np.array([1, 2, 3, 4, 5, 6, 7, 6, 5, 4, 3, 2, 1])
print("np.clip(a, 2, 5)-->", np.clip(a, 2, 5))

np.clip(a, 2, 5)--> [2 2 3 4 5 5 5 5 5 4 3 2 2]

#### NB: np.clip(a, min, max)

### Vector Operations